body {
    background-color: black;
    font-family: Verdana;
    text-align: center;
}

h1, h2 {
    color: white;
}

#download-link {
    color: aquamarine;
    font-size: 16px;
}

#foot {
    color: gray;
    text-align: right;
}

#quote {
    color: gray;
    font-size: 21px;
}

#scope {
    font-weight: 300;
    font-size: 42px;
}